.bodyContainer01{
  position: absolute;
  width: 1200px;
  height: 615px;
  left: 306px;
  top: 80px;
  background: #FFFFFF;
  
  border-radius: 35px;
 
}
.bodyContainer2{
  position: absolute;
  width: 1050px;
  height: 515px;
  left: 80px;
  top: 50px;

  
  background: rgba(217, 217, 217, 0.5);
  border-radius: 35px;
}
.text0{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 200px;
  left: 0px;

}
.text0:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text1{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 200px;
  left: 225px;

}
.text1:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text2{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 200px;
  left: 410px;

}
.text2:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text3{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 240px;
  left: 0px;

}
.text3:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text4{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 240px;
  left: 225px;

}
.text4:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text5{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 240px;
  left: 410px;

}
.text5:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text6{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 280px;
  left: 0px;

}
.text6:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text7{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 280px;
  left: 225px;

}
.text7:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.text8{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 280px;
  left: 410px;

}
.text8:focus{
  border:3px solid #2E9FED;
  outline: 0;

}

#icon1{
  color: red;
  position: absolute;
  top: 217px;
  left: 210px;
}
#icon2{
  color: red;
  position: absolute;
  top: 217px;
  left: 395px;
}
#icon3{
  color: red;
  position: absolute;
  top: 217px;
  left: 580px;
}
#icon4{
  color: red;
  position: absolute;
  top: 255px;
  left: 210px;
}
#icon5{
  color: red;
  position: absolute;
  top: 257px;
  left: 395px;
}
#icon6{
  color: red;
  position: absolute;
  top: 257px;
  left: 580px;
}
#icon7{
  color: red;
  position: absolute;
  top: 297px;
  left: 210px;
}
#icon8{
  color: red;
  position: absolute;
  top: 297px;
  left: 395px;
}
#icon9{
  color: red;
  position: absolute;
  top: 297px;
  left: 580px;
}
#plusIcon{
  color: white;
}
#plus{
  background: #5cbb5c;
}

.locateBook{
  position: absolute;
  width: 192px;
  height: 39px;
  left: 50px;
  top: 100px;
  

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.accessNumber{
  position: absolute;
  width: 192px;
  height: 39px;
  left: 50px;
  top: 140px;
  padding-top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 27px;

  color: #000000;
}
.accessNumberInput{
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  top: 67px;
  left: 80px;
}
.plus{
  position: absolute;
  top: 154px;
  left: 250px; 
  width: 150px;
  height: 33px;

  background: #5cbb5c;
  border-radius: 35px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px; 
  cursor: pointer; 
}
.nic{
  
  width: 150px;
  height: 25px;
  position: absolute;
  top: 97px;
  left: 160px;

}
.nic:focus{
  border:3px solid #2E9FED;
  outline: 0;

}
.dueDateLable{
  position: absolute;
  width: 192px;
  height: 39px;
  left: 50px;
  top: 320px;
  padding-top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 27px;

  color: #000000;
}
.DueDate{
  width: 150px;
  height: 25px;
  position: absolute;
  top:340px;
  left: 160px;
  background: white;
}
.returnBookbtn{
  position: absolute;
  top: 400px;
  left: 100px;
  width: 89px;
  height: 33px;
  background: #2E9FED;
  border-radius: 35px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px;  
  cursor: pointer; 
}
.backbtn{
  position: absolute;
  width: 89px;
  height: 33px;
  left: 380px;
  top: 400px;
  border: 1px solid #5CCBD4;
  background: #5CCBD4;
  border-radius: 35px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.backbtn a{
  color: white;
  text-decoration: none;
}

.image{
  width: 450px;
  height: 450px;
  position: absolute;
  top: 40px;
  left: 600px;
}
.blur {
  filter: blur(5px);
}

.userTable{
  position: absolute;
  top: 200px;
  left: 120px;
  width: 800px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.userTable td{
  border-bottom: 1px solid #ddd;
  padding: 8px;
}
.NameRow{
  font-size: 16px;
  padding-left: 40px;
}
.typeRow{
  font-size: 16px; 
  padding-left: 40px;
}

.sticker{
  position: absolute;
  top: 220px;
  left: 350px;
  width: 320px;
  height: 400px;
  opacity: 0.5;
}
.noResult{
  position: absolute;
  top: 620px;
  left: 430px; 
}
.NameRow a{
  text-decoration: none;
  color: black;
}
.userTable tr:hover *{
  background-color: #f3f3f3;
  color: #009879;
}

.warnning{
  /* position: absolute;
  top: 200px;
  width: 400px;
  height: 200px;
  border: 5px solid red;
 
  border-radius: 25px;
  z-index: 100;
  background: white; */
  position: absolute;
  width: 380px;
  background: #FFBCD9;
  border-radius: 10px;
  top: 80px;
  left: 180px;
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  /* scale: 0.1; */
  /* visibility: hidden; */
  transition: transform 0.4s, top 0.4s ;  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.containerWarning{
  position: absolute;
  top: 0px;
  left: 380px;
  width: 830px;
  height: 50px;
  background: #ffdddd;
  color: black;
  font-weight: 100;
  border-left: 6px solid #f44336;
  text-align: center;
  animation-name: warning;
  animation-duration: 0.5s;
}

.containerWarningRenew{
  position: absolute;
top: 77px;
left: 697px;
width: 830px;
height: 50px;
background: #ffdddd;
color: black;
font-weight: 100;
border-left: 6px solid #f44336;
text-align: center;
animation-name: warning;
animation-duration: 0.5s;
}
.warnningMsg{
  position: absolute;
  top: 0px;
  left: 50px;
  
}
span{
  font-weight: 800;
  
}
#exclamationMark{
  color: red;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 20px;
  
}
#arrow{
  color: #5cbb5c;
  position: absolute;
  top: 15px;
  left: 810px;
  font-size: 20px;
  font-weight: bold;
 
}
@keyframes warning {
  0%{
      display: none;
      left: 1000px;
      opacity: 1;
  }
  100%{
      left: 300px;
      opacity: 1;
  }
}

.containerDisable{
  display: none;
  animation-duration: 0.5ms;
}
.containerFine{
  visibility: hidden;
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 35px;
  position: absolute;
  top: 200px;
  left: 270px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
}
.containerFineDisplay{
  visibility: visible;
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 35px;
  position: absolute;
  top: 130px;
  left: 620px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.bookImage{
  width: 50px;
  height: 60px;
}
.fineStausTable{
  border-collapse: collapse;
  margin-left: 18px;
  max-height: 200px;
  min-height: 200px;
  min-width: 460px;
}
.fineStausTable thead tr th{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2E9FED;
  color: white;
  height: 20px;
}

.fineStausTable tbody tr td{
  padding-left: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 25px;
  background: #dae8fa;
}
.fineStausTable tbody tr .TotalFine{
  text-align: center;
  background-color: rgb(248, 103, 103);
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 25px;
  color: white;
}
.fineStausTable tbody tr .totalFineValue{
  background-color: rgb(248, 103, 103);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1000;
  font-size: 13px;
  line-height: 25px;
  color: white;
}

/* animation */
.tickmark{
  position: absolute;
  top: 2px;
  left: 27px;
  height: 50px;
  width: 20px;
  border-top: 8px solid #5cbb5c;
  border-right: 4px solid #5cbb5c;
  transform: translate(0%,0%) scaleX(-1) rotate(135deg);
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
   0%{
      width: 0;
      height: 0;
      opacity: 1;
   }
   100%{
      width: 20px;
      height: 50px;
      opacity: 1;
   }
}
.circle{
  position: absolute;
  top: 295px;
  left: 205px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #5cbb5c;
  animation-name: cycle;
  animation-duration: 4s;
}
@keyframes cycle {
  0%{
     width: 0;
     height: 0;
     opacity: 1;
  }
  100%{
     width: 80px;
     height: 80px;
     opacity: 1;
  }
}

.containerAnimation{
  position: absolute;
  top: 310px;
  left: 200px;
}

.containerAnimation{
  visibility: hidden;
}
.containerAnimationDisplay{
  visibility: visible;
}
.payFineRemove{
  display: none;
}
.fineStatus{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1000;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.disabled{
  opacity: 0.5;
}
.payFine{
  position: absolute;
  top: 340px;
  left: 210px; 
  width: 89px;
  height: 33px;

  background: #5cbb5c;
  border-radius: 35px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px; 
  cursor: pointer; 
}
.Next{
  position: absolute;
  top: 450px;
  left: 100px;
  width: 89px;
  height: 33px;
  background: #2E9FED;
  border-radius: 35px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px;  
  cursor: pointer; 
}
.cancel{
  position: absolute;
  top: 450px;
  left: 330px; 
  width: 89px;
  height: 33px;

  border: 1px solid #5CCBD4;
  background: #5CCBD4;
  border-radius: 35px;
 
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

/* error msg  */
.errorMesg{
  color: red;
  position: absolute;
  top: 110px;
  left: 150px;
}