<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }   
    h3{
        font-family: Arial, Helvetica, sans-serif;

    }
    </style>

</head>
<body>


<h3 class="htag1">Lending  Collection</h3>
<p>The lending collection has about 5000 books most of them fall into computer science.  Using an online library catalog can search for any book.</p>

<h3 class="htag2">Reference Collection</h3>
<p>The reference collection contains permanent reference materials such as dictionaries, manuals CD collection, encyclopedias.  Any material required will be allowed to be photocopied.</p>

<h3 class="htag4">UCSC Collection</h3>
<p>This collection consists of all the UCSC publications and documents related to the UCSC.</p>

<h3 class="htag7">Past Papers Collection</h3>
<p>This contains past papers of UCSC Undergraduate, Postgraduate, and External Degree courses.

Use the following Virtual Learning Environments (VLE) to access past paper collection.</p>
<ul>
<li>Undergraduate VLE</li>
<li>Postgraduate VLE</li>
</ul>



</body>
</html>