<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }   
    h3{
        font-family: Arial, Helvetica, sans-serif;

    }
    </style>

</head>
<body>


<h3 class="htag1">Reference Reading Rooms</h3>
<p>UCSC library provides two special reference rooms. More than fifty students can use this area.  Students are allowed to bring their laptop to reference rooms. Free internet access through WF-Fi is provided for all users.</p>

<h3 class="htag2">General Reading Rooms</h3>
<p>Students can discuss and bring their notes to this  area.</p>

<h3 class="htag3">Past Paper Collection</h3>
<p>Undergraduate and postgraduate past papers  are available in this collection.</p>

<h3 class="htag4">User Education</h3>
<p>All the new library members (students and staff) are introduced to the library’ wealth of resources, facilities, and services.
<br><br>
Provide a basic idea on the library’s online public access catalog (OPAC). Students are guided to different kinds of electronic information resources in the UCSC digital library.</p>


</body>
</html>