<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        position: relative;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        top: 15px;

    }   
    .htag2{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        top: 15px;
     


    }
    .para1{
        top: 0;
    }


   
    </style>

</head>
<body>
    
<h2 class="htag1">Damage And Loss Of Library Books</h2>
<p class="para1">Marking and defacing books are strictly forbidden. The members should report any marks or damages already in the books to the issuing counter before borrowing it. In the absence of such notice, it will be presumed that the particular book was in good condition when it was borrowed, and the borrower will be responsible and fined for any damages/marks observed at the time when the book is returned. The borrower will be liable to pay the full cost of replacement of a book if it is damaged and any other fee that the UCSC considers as applicable.
<br><br>
    A loss of a book should be reported immediately to the Library. If the book is not found and returned prior to the due date, the borrower shall pay for its replacement, plus a fine of 25% of the cost as a penalty.
   </p>
    

<h2 class="htag2">Fines For Library Books / Loss Of Library Books</h2>

<p>Monday to Friday	9.00 A.M. to  7.30 P.M.The Board of management of the UCSC has decided to levy a fine from those who are not returning the library books on due dates as follows.</p>
<ol>
    <li>If a book is not returned to the library on the due date, the borrower would be required to pay Rs. 20/= for the 1st day and Rs. 1/=for each additional hour until he/she returns the book to the library.
    </li>
    <li>If a book is lost and subsequently found, the borrower would be required to pay the fine as specified above for the period from the due date to the date of the return of the book.
    </li>
    <li>If a book is lost and not found, the student concerned would be required to pay the cost of replacing the book with an additional penalty of 25% or replace the book.  If the book is out of print or not available in the market replaced book should be approved by the thelibrary committee.
    </li>
    <li>The UCSC reserves the right to deduct the dues to the Library before releasing the Library deposit at the end of a respective course.
    </li>
</ol>




</body>
</html>