<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }   
    h3{
        font-family: Arial, Helvetica, sans-serif;

    }
    </style>

</head>
<body>
    
    
    
    
    
   

<h2 class="htag1">General Guidlines</h2>
<ul>
    <li><p>Silence should be observed in the library.</p></li>
    <li><p>Seats in the Library should not be reserved by anyone.</p></li>
    <li><p>Readers are not allowed to do joint work in the reading areas.</p></li>
    <li><p>Readers are allowed to remove any book they require from the shelves for use within the Library.</p></li>
    <li><p>Readers should not replace any book on the shelves after using them but should hand them over to a member of the Library staff or leave them on the table provided.</p></li>
    <li><p>Readers should not use Mobile Phones in the library.</p></li>
    <li><p>No bags, cases, personal books or any such belongings should be brought in to the library. Only blank papers and printed paper notes are allowed</p></li>
    <li><p>Consumption of food or drinks/water is forbidden in the Library. Smoking is forbidden in the UCSC building complex.</p></li>
    <li><p>Bottles of ink or ink wells should not be brought in to the Library.</p></li>
    <li><p>Those who are not registered to use this Library are required to obtain permission from the Director of UCSC to use the Library.</p></li>
    
    </ul>
    

<p>Readers must produce their University Identity Card when borrowing Books and at any time when called upon to do so.</p>


</body>
</html>