<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }   
    h3{
        font-family: Arial, Helvetica, sans-serif;

    }
    </style>

</head>
<body>
    
<h2 class="htag1">Membership</h2>
<ul>
    <li><p>Staff of UCSC, and DST of the University of Colombo, UCSC  students, registered for Undergraduate and Postgraduate courses.</p></li>
    <li><p>Other persons, for purpose of Special Study, approved at the discretion of the Director of UCSC on a case by case basis.</p></li>
</ul>
    

<h3>Issue of Books</h3>

<p>Books are issued on loan for a period of two weeks and may be borrowed and returned any time during the hours of operation.


    Users must produce their identity cards issued by the UCSC on each occasion they need to borrow books from the Library.</p>

    <h4>Borrowing</h4>
    <p>Undergraduates : Two Books</p>
    <p>Postgraduates : Two Books</p>
    <p>Masters Courses (Computing) : Two Book</p>
    <p>Research Students (Computing) : Two Books</p>

    <p>Members can use their UCSC identity card as their library ticket.</p>

</body>
</html>