<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        position: relative;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        top: 15px;

    }   
    .htag2, .htag3{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        top: 15px;
     


    }
    .para1{
        top: 0;
    }

    .calendarforuser{
        position: relative;
        top: 20px;
        color: #1395ed;
        text-decoration: none;
    }
    </style>

</head>
<body>
    
<h2 class="htag1">General opening Hours</h2>
<p class="para1">Monday to Friday	9.00 A.M. to 5.30 P.M.</p>
<p>Saturday	9.00 A.M. to 5.30 P.M. (During the master’s degree lectures and examination period only)</p>
    

<h2 class="htag2">During the study leave and examination periods</h2>

<p>Monday to Friday	9.00 A.M. to  7.30 P.M.</p>
<p>Weekends (Sat & Sundays)	9.00 A.M. to 5.30 P.M.</p>


<p>The Library will be closed on all public holidays (including Poya Days). Library opening hours may differ during special occasions.</p>

<h2 class="htag3">Holidays</h2>

    <p>Holidays are notified by the library calender.</p>
    <a href="" class="calendarforuser">View Calender</a>

</body>
</html>