<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PothPiyasa</title>
    <style>
        p{
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }   
    h3{
        font-family: Arial, Helvetica, sans-serif;

    }
    </style>

</head>
<body>
    
    
    
    
    
   

<h2 class="htag1">General Rules on The Use Of Library</h2>
<ul>
    <li><p>Silence should be maintained in the library.    </p></li>
    <li><p>Seats of the Library should not be reserved by anyone.    </p></li>
    <li><p>Readers are not allowed to do joint works in the reading areas.</p></li>
    <li><p>Readers are allowed to remove any book that they require from the shelves for their use within the Library area.    </p></li>
    <li><p>Readers are not permitted to replace any book on the shelves after using them but should hand them over to a member of the Library staff or leave them on the provided table</p></li>
    <li><p>Readers are not allowed to use Mobile Phones in the library.</p></li>
    <li><p>Bags, cases, personal books or any such belongings cannot be brought into the Library. Only blank papers and printed paper notes are allowed.</p></li>
    <li><p>Consumption of food or drinks/water is forbidden in the Library. Smoking is forbidden in the UCSC building complex.</p></li>
    <li><p>The Library will not accept any correspondence or telephone calls on behalf of readers.</p></li>
    
    </ul>
    

<p>Readers must produce their University Identity Card when borrowing Books and at any time when called upon to do so.</p>


</body>
</html>