
.bodyContainer01{
    position: absolute;
    width: 1196px;
    height: 580px;
    left: 310px;
    top: 100px;
  
    background: #FFFFFF;
    border-radius: 35px;
    z-index: -1;

  }

  
  .searchbookimage{
    position: absolute;
    width: 300px;
    height: 220px;
    left: 150px;
    top: 30px;
    /* z-index: 100; */

  }

  .library_png{
    margin-top: 80px;
    margin-left: 40px;
    width: 520px;
    height: 440px;
  }
  
  .backbtnsearchbook{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 892px;
    top: 443px;
    border: 1px solid #47c8d4;
    background: #5CCBD4;
    border-radius: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    /* z-index: 100; */
  }
  .backbtnsearchbook a{
    text-decoration: none;
    color: white;
  }


  .searchbtn{
    position: absolute;
    width: 100px;
    height: 35px;
    left:142px;
    top: 390px;
    color: white;
    background: #1c98ed;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    
  }


  .bodyContainer02{
    position: absolute;
    width: 546px;
    height: 470px;
    left: 580px;
    top: 50px;
     /* z-index: 1; */
    background:  rgba(217, 217, 217, 0.5);
    border-radius: 35px;

  }


  .bodyContainer03{

    position: absolute;
    width: 1535.7px;
    height: 470px;
    left: 0px;
    top: 60px;
  
    background:  #ffffff;

  }
  
  .opac_name{
    position: absolute;
    left: 98px;
    top: 21px;
    font-size: 21px;

  }




  .TitleLabel{
    position: absolute;
    width: 75px;
    height: 27px;
    left: 105px;
    top: 130px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }
  .Title{
    position: absolute;
    width: 203px;
    height: 25px;
    left: 230px;
    top: 130px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
    font-size: 14px;
    
  }
  .Title:focus{
   border:3px solid #2E9FED;
   outline: 0;
  }

 
  
  .AuthorLabel{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 105px;
    top: 190px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }
  
  
  

  .Author{
    position: absolute;
    width: 204px;
    height: 25px;
    left: 230px;
    top: 190px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
    font-size: 14px;
     
  }
  .Author:focus{
    border:3px solid #2E9FED;
    outline: 0;
  }

 
  .SubjectLabel{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 105px;
    top: 250px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }
  .Subject{
    position: absolute;
    width: 203px;
    height: 25px;
    left: 230px;
    top: 250px;
    border: none;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
    font-size: 14px;
    
  
  }
  .Subject:focus{
    border:3px solid #2E9FED;
    outline: 0;
  }
  



  .ISBN1Label{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 105px;
    top: 310px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }
  .ISBN1{
    position: absolute;
    width: 203px;
    height: 25px;
    left: 230px;
    top: 310px;
    border: none;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
    font-size: 14px;
    
  
  }
  .ISBN1:focus{
    border:3px solid #2E9FED;
    outline: 0;
  }
  


  .hrtag{
    position: absolute;
   
    height: 2px;
    width: 350px;
    left: 100px;
    top: 76px;
    background: #000000;
    box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);

  }

  
  
  