.bodyContainer01{
    position: absolute;
    width: 800px;
    height: 515px;
    left: 506px;
    top: 130px;

    background: #FFFFFF;
    border-radius: 35px;
}
/* .bodyContainer2{
    position: absolute;
    width: 400px;
    height: 350px;
    left: 52px;
    top: 80px;

    background: #82d6f3;
    border-radius: 35px;
} */
.titalLabel{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 50px;
    top: 170px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}
.tital{
    position: absolute;
    width: 200px;
    height: 25px;
    left: 120px;
    top: 170px;
    outline: none;
    border: 1px solid #2E9FED ;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}
.tital:focus{
   border:3px solid #2E9FED;
   outline: 0;
}


.isbnLabel{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 50px;
    top: 240px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}
.isbn{
    position: absolute;
    width: 200px;
    height: 25px;
    left: 120px;
    top: 240px;
    border: 1px solid #2E9FED ;
    outline: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}
.isbn:focus{
    border:3px solid #2E9FED;
    outline: 0;
 }

 .backbtnAddBook{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 250px;
    top: 335px;
    border: 1px solid #5CCBD4;
    background: #5CCBD4;
    border-radius: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.backbtnAddBook a{
    text-decoration: none;
    color: white;
}
.addbookbtn{
    position: absolute;
    width: 100px;
    height: 35px;
    left: 80px;
    top: 335px;
    color: white;
    background: #49F546;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.image{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 70px;
    left: 350px;
}