
.locateBookContainer1{
    position: absolute;
    width: 1200px;
    height: 585px;
    left: 320px;
    top: 100px;

    
    background: #ffffff;
    border-radius: 35px;
}
.locateBookContainer2{
    position: absolute;
    width: 1165px;
    height: 500px;
    left: 20px;
    top: 40px;

    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 35px;
}
.text0{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 120px;
    left: 0px;

}
.text0:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text1{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 120px;
    left: 225px;

}
.text1:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text2{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 120px;
    left: 410px;

}
.text2:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text3{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 160px;
    left: 0px;

}
.text3:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text4{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 160px;
    left: 225px;

}
.text4:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text5{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 160px;
    left: 410px;

}
.text5:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text6{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 200px;
    left: 0px;

}
.text6:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text7{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 200px;
    left: 225px;

}
.text7:focus{
    border:3px solid #2E9FED;
    outline: 0;

}
.text8{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 200px;
    left: 410px;

}
.text8:focus{
    border:3px solid #2E9FED;
    outline: 0;

}

#icon1{
    color: red;
    position: absolute;
    top: 137px;
    left: 210px;
}
#icon2{
    color: red;
    position: absolute;
    top: 137px;
    left: 395px;
}
#icon3{
    color: red;
    position: absolute;
    top: 137px;
    left: 580px;
}
#icon4{
    color: red;
    position: absolute;
    top: 175px;
    left: 210px;
}
#icon5{
    color: red;
    position: absolute;
    top: 177px;
    left: 395px;
}
#icon6{
    color: red;
    position: absolute;
    top: 177px;
    left: 580px;
}
#icon7{
    color: red;
    position: absolute;
    top: 217px;
    left: 210px;
}
#icon8{
    color: red;
    position: absolute;
    top: 217px;
    left: 395px;
}
#icon9{
    color: red;
    position: absolute;
    top: 217px;
    left: 580px;
}
#plusIcon{
    color: white;
}
#plus{
    background: #5cbb5c;
}

.locateBook{
    position: absolute;
    width: 192px;
    height: 39px;
    left: 260px;
    top: 20px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}
.accessNumber{
    position: absolute;
    width: 192px;
    height: 39px;
    left: 50px;
    top: 60px;
    padding-top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;

    color: #000000;
}
.accessNumberInput{
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    position: absolute;
    top: 67px;
    left: 80px;
}
.plus{
    position: absolute;
    top: 74px;
    left: 210px; 
    width: 100px;
    height: 33px;

    background: #5cbb5c;
    border-radius: 35px;
    border: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px; 
    cursor: pointer; 
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 27px;
    top: 275px;
    left: 180px;
    
  }
  
  input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.date{
    position: absolute;
    top: 279px;
    left: 270px;
    
}
.returnDate{
    position: absolute;
    top: 320px;
    left: 210px;
    width: 150px;
    height: 25px;
}
.returnDate:focus{
    border:3px solid #2E9FED;
    outline: 0;

}

.issueBookbtn{
    position: absolute;
    top: 400px;
    left: 100px;
    width: 89px;
    height: 33px;
    background: #2E9FED;
    border-radius: 35px;
    border: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;  
    cursor: pointer; 
}
.back{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 380px;
    top: 400px;
    border: 1px solid #5CCBD4;
    background: #5CCBD4;
    border-radius: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.back a{
    color: white;
    text-decoration: none;
}
.memberInfo{
    position: absolute;
    width: 192px;
    height: 39px;
    left: 850px;
    top: 20px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}
.memberImage{
    width: 150px;
    height: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 70px;
    left: 830px;
}
.memInfo{
    position: absolute;
    top: 230px;
    left: 780px;
    max-width: 800px;
}
.memInfo tr{
    max-width: 800px;
    box-shadow: 0 0.3rem 0.5rem rgba(60, 60, 60, 0.3);
}
 .memberImage img{
    width: 150px;
    height: 150px;
}
.nameLable{
    background: #2196F3;
    color: white;
    
}
.reg{
    background: #2196F3;
    color: white;
    
}
.nicLable{
    background: #2196F3;
    color: white; 
    
}


.typeLable{
    background: #2196F3;
    color: white;  
}

.bdoLable{
    background: #2196F3;
    color: white; 
}
.sexLable{
    background: #2196F3;
    color: white; 
}

.addressLable{
    background: #2196F3;
    color: white; 
}
.emailLable{
    background: #2196F3;
    color: white; 
}
.phoneLable{
    background: #2196F3;
    color: white; 
}
.errorMesg p{
    color: red;
    position: absolute;
    top: 100px;
    left: 50px;
}

/* reseve notification */
.containerWarningLocate{
    position: absolute;
    top: -51px;
    left: 442px;
    width: 732px;
    height: 50px;
    background: #ffdddd;
    color: black;
    font-weight: 100;
    border-left: 6px solid #f44336;
    text-align: center;
    animation-name: warning;
    animation-duration: 0.5s;
  }

  .warnningMsg{
    position: absolute;
    top: 0px;
    left: 50px;
    
}
span{
    font-weight: 800;
    
}
#exclamationMark{
    color: red;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
    
}

@keyframes warning {
    0%{
        display: none;
        left: 1000px;
        opacity: 1;
    }
    100%{
        left: 300px;
        opacity: 1;
    }
}
