
.bodyContainer01{
    position: absolute;
    width: 1200px;
    height: 580px;
    left: 306px;
    top: 104px;
  
    background: #FFFFFF;
    border-radius: 35px;
  }
  
  .backbtn1{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 900px;
    top: 410px;
    border: 1px solid #5CCBD4;
    background: #5CCBD4;
    border-radius: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .backbtn1 a{
    text-decoration: none;
    color: white;
  }

  .backbtn1:hover{
    transform: scale(1.2);
    z-index: 2;
  }
  .requestbtn{
    position: absolute;
    width: 100px;
    height: 35px;
    left:130px;
    top: 330px;
    color: white;
    background: #1c98ed;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .requestbtn:hover{
    transform: scale(1.2);
    z-index: 2;
  }

  .bodyContainer_requestbook{
    position: absolute;
    width: 540px;
    height: 400px;
    left: 582px;
    top: 80px;
  
    background:  rgba(217, 217, 217, 0.5);
    border-radius: 35px;
  }

   .requestbook_img{
    top: -20px;
    height: 500px;
    width: 600px;
   }
  

.errorTitle {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 75px;
  left: 240px;
  font-weight: bold;
  }
  
  .bookTitleLabel{
    position: absolute;
    width: 75px;
    height: 27px;
    left: 90px;
    top: 60px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }

  .containerWarning{
    position: absolute;
    top: 65px;
    left: 1030px;
    width: 442px;
    height: 50px;
    background: #ffdddd;
    color: black;
    font-weight: 100;
    border-left: 6px solid #f44336;
    text-align: center;
    animation-name: warning;
    animation-duration: 0.5s;
}
  .bookTitle{
    position: absolute;
    width: 203px;
    height: 25px;
    left: 240px;
    top: 60px;
    outline: none;
    border: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  }
  .bookTitle:focus{
   border:3px solid #2E9FED;
   outline: 0;
  }
  
  .bookAuthorLabel{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 90px;
    top: 120px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }
  
  .errorAuthor {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 135px;
    left: 240px;
    font-weight: bold;
  }
  

  .bookAuthor{
    position: absolute;
    width: 204px;
    height: 25px;
    left: 240px;
    top: 120px;
    border: none;
    outline: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;  
  }
  .bookAuthor:focus{
    border:3px solid #2E9FED;
    outline: 0;
  }

  .bookPublishedYearLabel{
    position: absolute;
    width: 120px;
    height: 27px;
    left: 90px;
    top: 180px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }

  .errorPublishYear {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 195px;
    left: 240px;
    font-weight: bold;
  }
  .bookPublishedYear{
    position: absolute;
    width: 203px;
    height: 25px;
    left: 240px;
    top: 180px;
    border: none;
    outline: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  
  }
  .bookPublishedYear:focus{
    border:3px solid #2E9FED;
    outline: 0;
  }

  .bookEditionLabel{
    position: absolute;
    width: 49px;
    height: 27px;
    left: 90px;
    top: 240px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */
  
  
    color: #000000;
  }
  .bookEdition{
    position: absolute;
    width: 203px;
    height: 25px;
    left: 240px;
    top: 240px;
    border: none;
    outline: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  
  }
  .bookEdition:focus{
    border:3px solid #2E9FED;
    outline: 0;
  }
  
  .errorEdition {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 255px;
    left: 240px;
    font-weight: bold;
  }