.bodyContainer01{
    position: absolute;
    width: 1200px;
    height: 615px;
    left: 306px;
    top: 80px;

    background: #FFFFFF;
    border-radius: 35px;
    z-index: -1;
}
.imageProfile{
    position: absolute;
    width: 191px;
    height: 221px;
    left: 120px;
    top: 120px;
}
.bookInfo{
    position: absolute;
    width: 1000px;
    height: 30px;
    left: 100px;
    top: 50px;
    background: #DAD9E0;
}
.info{
    position: absolute;
    width: 116px;
    height: 34px;
    left: 80px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
}
.titlelabelBookInfo{
    position: absolute;
    width: 91px;
    height: 30px;
    left: 500px;
    top: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}
.isbnlabelBookInfo{
    position: absolute;
    width: 91px;
    height: 30px;
    left: 500px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}
.authorlabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}

.editionlabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 160px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}
.languagelabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}

.publisherlabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 220px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}

.publishedyearlabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}

.categorylabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}

.nopageslabelBookInfo{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 500px;
    top: 310px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #B8B2B2;
}
.title2{
    position: absolute;
    width: 422px;
    height: 30px;
    left: 660px;
    top: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}
#bookInfoTable{
  position: absolute;
  width: 500px;
  left: 500px;
  top: 100px;
} 
#bookInfoTable td{
    padding: 1px;
}
#bookInfoTable #valueBookInfo
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;

    color: #000000;
}
#bookInfoTable #titleBookInfo
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;

    color: #B8B2B2;
}
#bookInfoTable tr:nth-child(odd){
    background: #EFFAFF;
}

.containerBookInfo{
    position: absolute;
    width: 660px;
    height: 180px;
    left: 250px;
    top: 400px;

    background: #DAD9E0;
    border-radius: 35px;
}

.backbtnBookInfo{
    position: absolute;
    width: 89px;
    height: 33px;
    left: 1300px;
    top: 625px;
    border: 1px solid #5CCBD4;
    background: #5CCBD4;
    border-radius: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.backbtnBookInfo a{
    text-decoration: none;
    color: white;
}

.ReservedListBookInfo{
    position: absolute;
    width: 404px;
    height: 27px;
    left: 40px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000; 
}