/* Start of Main Section  */

/* form container */

.bodyContainer01 {
  position: absolute;
  width: 1200px;
  height: 580px;
  left: 306px;
  top: 104px;

  background: #ffffff;
  border-radius: 35px;
}

.bodyContainer02 {
  position: absolute;
  width: 1100px;
  height: 500px;
  left: 52px;
  top: 40px;

  background: #d9d9d9;
  border-radius: 35px;
}

.bodyContainer02_blur{
  filter: blur(3px);
}



.titleLabel {
  position: absolute;
  width: 49px;
  height: 27px;
  left: 70px;
  top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.title {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 50px;
  outline: none;
  border: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;
}
.title:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.regLabel {
  position: absolute;
  width: 49px;
  height: 27px;
  left: 70px;
  top: 95px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.reg {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 95px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.reg:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorRegistrationNo{
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 105px;
  padding: 5px;
  width: 362px;
  color: red;
}

.firstNameLabel {
  position: absolute;
  width: 80px;
  height: 27px;
  left: 70px;
  top: 140px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.firstName {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 140px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.firstName:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorFirstName {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 150px;
  padding: 5px;
  width: 300px;
  color: red;
  
}
.lastNameLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 185px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.lastName {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 185px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.lastName:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorLastName {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 195px;
  padding: 5px;
  width: 300px;

  color: red;
  
}

.phoneNoLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 230px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.phoneNo {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 230px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.phoneNo:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorPhoneNoadduser {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 240px;
  padding: 5px;
  width: 300px;

  color: red;
  
}

.sexLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 275px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.sex {
  
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 275px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.sex:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}
.birthdayLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 320px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.birthday {
  text-align: center;
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 320px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.birthday:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.addressLable {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 365px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.address {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 365px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.address:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorAddress {
  position: absolute;
  font-size: 12px;
  /* text-align: center; */
  left: 176px;
  top: 375px;
  padding: 5px;
  width: 320px;
  color: red;
  
}


.emailLable {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 410px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.email {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 410px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.email:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorEmail {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 420px;
  padding: 5px;
  color: red;
  
}



.NICLable {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 70px;
  top: 455px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.NIC {
  position: absolute;
  width: 204px;
  height: 25px;
  left: 180px;
  top: 455px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.NIC:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorNIC {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 465px;
  padding: 5px;
  color: red;
  
}



.memberTypeLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 570px;
  top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.memberType {

  position: absolute;
  width: 204px;
  height: 25px;
  left: 720px;
  top: 50px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;
}
.memberType:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}


.form-box {
  position: absolute;
  width: 400px;
  height: 220px;
  left: 550px;
  top: 110px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  overflow: hidden;

  opacity: 60%;
}

.form-box_enabled {
  opacity: 100%;
  
  
}
.button-box {
  width: 250px;
  height: 37px;
  position: relative;
  margin: 30px auto;
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toggle-btn {
  padding: 5px 33px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 125px;
  height: 100%;
  background: #2e9fed;
  border-radius: 35px;
}

#lecturebtn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: white;
  
}
#studentbtn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
  
}

.toggleForm {
  top: 30px;
  position: absolute;
  width: 280px;
  transition: 0.3s;
}
#lectureForm {
  left: 10px;
}

#studentForm {
  left: 410px;
}

.lecTypeLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 30px;
  top: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.lecType {
  position: absolute;
  width: 200px;
  height: 22px;
  left: 150px;
  top: 60px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;


}
.lecType:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.subjectLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 30px;
  top: 100px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.subject {
  position: absolute;
  width: 200px;
  height: 22px;
  left: 150px;
  top: 100px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;


  
}
.subject:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.departmentLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 30px;
  top: 140px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.department {
  position: absolute;
  width: 200px;
  height: 22px;
  left: 150px;
  top: 140px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

  
}
.department:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.errorDepartment {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 176px;
  top: 150px;
  padding: 5px;
  color: red;
  
}

.stuTypeLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 30px;
  top: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}

.stuType {
  position: absolute;
  width: 200px;
  height: 22px;
  left: 150px;
  top: 60px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.stuType:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.degreeLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 30px;
  top: 100px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.degree {
  position: absolute;
  width: 200px;
  height: 22px;
  left: 150px;
  top: 100px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.degree:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}

.batchLabel {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 30px;
  top: 140px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #000000;
}
.batch {
  position: absolute;
  width: 200px;
  height: 22px;
  left: 150px;
  top: 140px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(68, 68, 68, 0.3);
  border-radius: 5px;

}
.batch:focus {
  border: 3px solid #2e9fed;
  outline: 0;
}
.addmemberbtn {
  position: absolute;
  width: 120px;
  height: 35px;
  left: 600px;
  top: 410px;
  color: white;
  background: #49f546;
  border-radius: 35px;
  border: 0;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.deletememberbtn{
  position: absolute;
  width: 120px;
  height: 35px;
  left: 600px;
  top: 410px;
  color: white;
  background: rgb(245, 78, 78);
  border-radius: 35px;
  border: 0;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.backbtn {
  position: absolute;
  width: 100px;
  height: 35px;
  left: 855px;
  top: 450px;
  border: 1px solid #4ccad5;
  background: #4ccad5;
  border-radius: 35px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.backbtn a {
  text-decoration: none;
  color: white;
}
