/* Start of Navigation Section */

.navigation {
  position: fixed;
  width: 280px;
  height: 754px;
  left: 0px;
  top: -1px;
  background: #0a3451;
  z-index: 1000;
}

.navigationLabels {
  position: fixed;
  top: -78px;
  left: 6px;
  
}


.logo {
  position: absolute;
  width: 255px;
  height: 128px;
  left: 4px;
  top: 2px;
}

/* #navIcon {
  position: absolute;
  left: 245px;
  top: 25px;
  font-size: 30px;

  color: #ffffff;
} */

/* .profile {
  position: relative;
  top: -30px;
  left: 1px;
}
.profileImg {
  position: absolute;
  width: 60px;
  height: 55px;
  left: 15px;
  top: 128px;
  border-radius: 50%;
}
.profileName {
  color: white;
  position: absolute;
  top: 130px;
  left: 96px;
}

.profileID {
  color: white;
  position: absolute;
  top: 140px;
  left: 110px;
} */
.toggelBar {
  position: absolute;
  width: 268px;
  height: 40px;
  left: 5px;
  top: 237px;
  background: white;
  opacity: 0.3;
  border-radius: 35px 35px 35px 35px;
}

.dashbordLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 222px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.dashbordLabel a {
  text-decoration: none;
  color: #ffffff;
}
.dashbordIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 242px;

  background: #1395ed;
  border-radius: 35px;
}
#dashbordIcon {
  position: absolute;
  top: 249px;
  left: 19px;

  color: #ffffff;
}
.accountLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 272px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.accountLabel a {
  text-decoration: none;
  color: #ffffff;
}
.accountIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 292px;

  background: #1395ed;
  border-radius: 35px;
}
#accountIcon {
  position: absolute;
  top: 299px;
  left: 19px;

  color: #ffffff;
}

#toggleArrow1 {
  position: absolute;
  left: 240px;
  top: 300px;
  color: white;
}

.bookLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 322px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.bookLabel a {
  text-decoration: none;
  color: #ffffff;
}
.bookIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 342px;

  background: #1395ed;
  border-radius: 35px;
}
#bookIcon {
  position: absolute;
  top: 349px;
  left: 21px;
  color: #ffffff;
}

#toggleArrow2 {
  position: absolute;
  left: 240px;
  top: 350px;
  color: white;
}

.booklist {
  visibility: hidden;
  z-index: 999;
  position: absolute;
  width: 129px;
  top: 320px;
  left: 235px;

  border-radius: 0px 0px 20px 0px;
}
.booklist ul {
  list-style: none;
}
.booklist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 210px;
  /* height: 20px; */
  border: white solid 0.5px;
  padding: 5px;
}
.booklist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.booklist ul li:hover {
  background: #1395ed;
}

/* .bookLabel:hover > .booklist{
    display: block;
    background: white;
    position: relative;
    top: 400px;
    left: 200px;
  
  } */

.memberLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 372px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.memberLabel a {
  text-decoration: none;
  color: #ffffff;
}
.memberIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 392px;

  background: #1395ed;
  border-radius: 35px;
}
#memberIcon {
  position: absolute;
  top: 399px;
  left: 21px;

  color: #ffffff;
}

#toggleArrow3 {
  position: absolute;
  left: 240px;
  top: 400px;
  color: white;
}

.memberlist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 370px;
  left: 235px;
}
.memberlist ul {
  list-style: none;
}
.memberlist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 198px;
  border: 1px solid white;
  padding: 5px;
}
.memberlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.memberlist ul li:hover {
  background: #1395ed;
}

/* .memberLabel:hover > .memberlist{
      display: block;
      background: white;
      position: relative;
      top: 400px;
      left: 200px;
  
  } */

.circulationLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 422px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.circulationLabel a {
  text-decoration: none;
  color: #ffffff;
}
.circulationIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 442px;

  background: #1395ed;
  border-radius: 35px;
}
#circulationIcon {
  position: absolute;
  top: 449px;
  left: 21px;

  color: #ffffff;
}
#toggleArrow4 {
  position: absolute;
  left: 240px;
  top: 450px;
  color: white;
}
.bookCategoryLabel {
  position: absolute;
  width: 200px;
  height: 29px;
  left: 74px;
  top: 470px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.bookCategoryLabel a {
  text-decoration: none;
  color: #ffffff;
}
.bookCategoryIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 492px;

  background: #1395ed;
  border-radius: 35px;
}
#bookCategoryIcon {
  position: absolute;
  top: 499px;
  left: 21px;

  color: #ffffff;
}

#toggleArrow5 {
  position: absolute;
  left: 240px;
  top: 500px;
  color: white;
}

.categorylist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
 
  left: 235px;
  top: 470px;

  border-radius: 0px 0px 20px 0px;
}
.categorylist ul {
  list-style: none;
}
.categorylist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 150px;
  border: 1px solid white;
  padding:3.5px;
}
.categorylist ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;

}
.categorylist ul li:hover {
  background: #1395ed;
}




.inventoryLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 520px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.inventoryLabel a {
  text-decoration: none;
  color: #ffffff;
}
.inventoryIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 542px;

  background: #1395ed;
  border-radius: 35px;
}
#inventoryIcon {
  position: absolute;
  top: 548px;
  left: 19px;

  color: #ffffff;
}
#toggleArrow6 {
  position: absolute;
  left: 240px;
  top: 550px;
  color: white;
}
.authorLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 74px;
  top: 570px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.authorLabel a {
  text-decoration: none;
  color: #ffffff;
}
.authorIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 592px;
  background: #1395ed;
  border-radius: 35px;
}
#authorIcon {
  position: absolute;
  top: 598px;
  left: 22px;

  color: #ffffff;
}
#toggleArrow7 {
  position: absolute;
  left: 240px;
  top: 600px;
  color: white;
}

.authorlist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  width: 129px;
  top: 570px;
  left: 235px;

  border-radius: 0px 0px 20px 0px;
}
.authorlist ul {
  list-style: none;
}
.authorlist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 130px;
  /* height: 20px; */
  border: white solid 0.5px;
  padding: 5px;
}
.authorlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.authorlist ul li:hover {
  background: #1395ed;
}



.rackLabel {
  position: absolute;
  width: 400px;
  height: 29px;
  left: 74px;
  top: 622px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.rackLabel a {
  text-decoration: none;
  color: #ffffff;
}
.rackIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 642px;

  background: #1395ed;
  border-radius: 35px;
}
#rackIcon {
  position: absolute;
  top: 649px;
  left: 23px;

  color: #ffffff;
}
#toggleArrow8 {
  position: absolute;
  left: 240px;
  top: 650px;
  color: white;
}

.categorylist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 472px;
  left: 235px;
}
.categorylist ul {
  list-style: none;
}
.categorylist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 180px;
  border: 1px solid white;
  padding: 5px;
  z-index: 100;
}
.categorylist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.categorylist ul li:hover {
  background: #1395ed;
}
.accountlist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 272px;
  left: 235px;
}
.accountlist ul {
  list-style: none;
}
.accountlist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 178px;  
  border: 1px solid white;
  padding: 5px;
  z-index: 100;
}
.accountlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.accountlist ul li:hover {
  background: #1395ed;
}
/* .memberLabel:hover > .memberlist{
    display: block;
    background: white;
    position: relative;
    top: 400px;
    left: 200px;

} */

.logout {
  position: absolute;
  width: 158px;
  height: 25px;
  left: 16px;
  top: 765px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
}

.logout i{
  font-size: 22px;
  /* background: #1395ed;
  padding: 7px;
  border-radius: 35px; */
  
}

.logout a {
  text-decoration: none;
  color:white;
}



/* End of Navigation Section */
