/* Start of Navigation Section */

.navigation {
  position: absolute;
  width: 280px;
  height: 754px;
  left: 0px;
  top: -1px;
  background: #0a3451;
}

.navigationLabels {
  position: absolute;
  top: -78px;
  left: 6px;
  
}


.logo {
  position: absolute;
  width: 255px;
  height: 128px;
  left: 4px;
  top: 2px;
}
/* #navIcon {
  position: absolute;
  left: 245px;
  top: 25px;
  font-size: 30px;

  color: #ffffff;
} */


/* .profileID {
  
  color: white;
  position: absolute;
  top: 142px;
  left: 110px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
} */

.toggelBar {
  position: absolute;
  width: 268px;
  height: 40px;
  left: 5px;
  top: 237px;
  background: white;
  opacity: 0.3;
  border-radius: 35px 0px 0px 35px;
}

.dashbordLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 222px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.dashbordLabel a {
  text-decoration: none;
  color: #ffffff;
}
.dashbordIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 242px;

  background: #1395ed;
  border-radius: 35px;
}
#dashbordIcon {
  position: absolute;
  top: 249px;
  left: 19px;

  color: #ffffff;
  
}
.accountLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 272px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.accountLabel a {
  text-decoration: none;
  color: #ffffff;
}
.accountIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 292px;

  background: #1395ed;
  border-radius: 35px;
}
#accountIcon {
  position: absolute;
  top: 299px;
  left: 19px;

  color: #ffffff;

}

#toggleArrow1 {
  position: absolute;
  left: 240px;
  top: 300px;
  color: white;
}

.accountlist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  /* width: 139px; */
  padding-right: 10px;
  top: 270px;
  left: 235px;

  /* border-radius: 0px 0px 20px 0px; */
}
.accountlist ul {
  list-style: none;
}
.accountlist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 178px;
  border: white solid 0.5px;
  padding: 5px;
}
.accountlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.accountlist ul li:hover {
  background: #1395ed;
}

.bookLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 322px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.bookLabel a {
  text-decoration: none;
  color: #ffffff;
}
.bookIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 342px;

  background: #1395ed;
  border-radius: 35px;
}
#bookIcon {
  position: absolute;
  top: 349px;
  left: 21px;
  color: #ffffff;
}

#toggleArrow2 {
  position: absolute;
  left: 240px;
  top: 350px;
  color: white;
}

.booklist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  width: 129px;
  top: 320px;
  left: 235px;

  /* border-radius: 0px 0px 20px 0px; */
}
.booklist ul {
  list-style: none;
}
.booklist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 130px;
  border: white solid 0.5px;
  padding: 5px;
}
.booklist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.booklist ul li:hover {
  background: #1395ed;
}

/* .bookLabel:hover > .booklist{
    display: block;
    background: white;
    position: relative;
    top: 400px;
    left: 200px;
  
  } */

.memberLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 372px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.memberLabel a {
  text-decoration: none;
  color: #ffffff;
}
.memberIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 392px;

  background: #1395ed;
  border-radius: 35px;
}
#memberIcon {
  position: absolute;
  top: 399px;
  left: 21px;

  color: #ffffff;
}

#toggleArrow3 {
  position: absolute;
  left: 240px;
  top: 400px;
  color: white;
}

.memberlist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 370px;
  left: 235px;
}
.memberlist ul {
  list-style: none;
}
.memberlist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 198px;
  border: 1px solid white;
  padding: 5px;
}
.memberlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.memberlist ul li:hover {
  background: #1395ed;
}

/* .memberLabel:hover > .memberlist{
      display: block;
      background: white;
      position: relative;
      top: 400px;
      left: 200px;
  
  } */

.circulationLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 422px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.circulationLabel a {
  text-decoration: none;
  color: #ffffff;
}
.circulationIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 442px;

  background: #1395ed;
  border-radius: 35px;
}
#circulationIcon {
  position: absolute;
  top: 449px;
  left: 21px;

  color: #ffffff;
}
#toggleArrow4 {
  position: absolute;
  left: 240px;
  top: 450px;
  color: white;
}

.inventoryLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 470px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.inventoryLabel a {
  text-decoration: none;
  color: #ffffff;
}
.inventoryIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 492px;

  background: #1395ed;
  border-radius: 35px;
}
#inventoryIcon {
  position: absolute;
  top: 498px;
  left: 19px;

  color: #ffffff;
}
#toggleArrow6 {
  position: absolute;
  left: 240px;
  top: 500px;
  color: white;
}

.reportLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 520px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.reportLabel a {
  text-decoration: none;
  color: #ffffff;
}
.reportIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 542px;
  background: #1395ed;
  border-radius: 35px;
}
#reportIcon {
  position: absolute;
  top: 548px;
  left: 22px;

  color: #ffffff;
}
#toggleArrow7 {
  position: absolute;
  left: 240px;
  top: 550px;
  color: white;
}

.holidayLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 570px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.holidayLabel a {
  text-decoration: none;
  color: #ffffff;
}
.holidayIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 592px;
  background: #1395ed;
  border-radius: 35px;
}
#holidayIcon {
  position: absolute;
  top: 598px;
  left: 22px;

  color: #ffffff;
}
#toggleArrow8 {
  position: absolute;
  left: 240px;
  top: 600px;
  color: white;
}

.eventLabel {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 66px;
  top: 620px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.eventLabel a {
  text-decoration: none;
  color: #ffffff;
}
.eventIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 642px;
  background: #1395ed;
  border-radius: 35px;
}
#eventIcon {
  position: absolute;
  top: 648px;
  left: 23px;

  color: #ffffff;
}
#toggleArrow9 {
  position: absolute;
  left: 240px;
  top: 650px;
  color: white;
}

.adminTaskLabel {
  position: absolute;
  width: 400px;
  height: 29px;
  left: 66px;
  top: 670px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.adminTaskLabel a {
  text-decoration: none;
  color: #ffffff;
}
.adminTaskIconBack {
  position: absolute;
  width: 37px;
  height: 29px;
  left: 10px;
  top: 692px;

  background: #1395ed;
  border-radius: 35px;
}
#adminTaskIcon {
  position: absolute;
  top: 700px;
  left: 21px;

  color: #ffffff;
}
#toggleArrow10 {
  position: absolute;
  left: 240px;
  top: 700px;
  color: white;
}

.adminlist {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 670px;
  left: 235px;
}
.adminlist ul {
  list-style: none;
}
.adminlist ul li {
  background: #0a3451;
  /* text-align: center; */
  width: 200px;
  border: 1px solid white;
  padding:3.5px;
}
.adminlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.adminlist ul li:hover {
  background: #1395ed;
}

/* .memberLabel:hover > .memberlist{
    display: block;
    background: white;
    position: relative;
    top: 400px;
    left: 200px;

} */

.logout {
  position: absolute;
  width: 158px;
  height: 25px;
  left: 16px;
  top: 754px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
}

.logout i{
  font-size: 22px;
  /* background: #1395ed;
  padding: 7px;
  border-radius: 35px; */
  
}

.logout a {
  text-decoration: none;
  color:white;
}

/* End of Navigation Section */
